# Core Framework
fastapi
uvicorn[standard]

# Database (NeonDB/PostgreSQL)
sqlalchemy
psycopg2-binary

# Pydantic for request/response models
pydantic

# Environment variables
python-dotenv

# Auth: Clerk JWT verification
python-jose
requests

# CORS for frontend-backend integration
fastapi[all]  # includes starlette & optional features like CORS


# Optional - for testing
pytest
httpx

python-dateutil

cachetools==5.5.0
google-generativeai
pymongo

scikit-learn==1.5.1